<ion-header>
  <ion-toolbar color="primary" style="text-align: center">
    <ion-title>
      
      COFFEE MACHINE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      
    <ion-grid (click)="openForm()">
        <ion-row>
            <ion-col>
              ----------
            </ion-col>
            <ion-col>
              COFFEE TYPES
              </ion-col>
            <ion-col>
              ----------
            </ion-col>
          </ion-row>
      <ion-row>
        <ion-col (click)="yourCoffee('CUPPICCINO R 38.00')+yourPrices(38)">
          <img src="assets/CUPPICCINO.jpg">
          CUPPICCINO
        </ion-col>
        <ion-col (click)="yourCoffee('AMERICANO R 8.00')+yourPrices(8)">
          <img src="assets/AMERICANO.jpg">
          AMERICANO
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="yourCoffee('ESPRESSO R 20.00')+yourPrices(20)">
          <img src="assets/ESPRESSO.jpeg">
          ESPRESSO
        </ion-col>
        <ion-col (click)="yourCoffee('MACCHIATO R 33.00')+yourPrices(33)">
          <img src="assets/MACCHIATO.jpg">
          MACCHIATO
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="yourCoffee('MOCHA R 28.00')+yourPrices(28)">
          <img src="assets/MOCHA.jpg">
         MOCHA
        </ion-col>
        <ion-col (click)="yourCoffee('LATTE R 30.00')+yourPrices(30)">
          <img src="assets/LATTE.jpg">
          LATTE
        </ion-col>
      </ion-row>
      </ion-grid>

      <!-- <button class="open-button" onclick="openForm()">Open Form</button> -->

<div class="form-popup ion-padding"  id="myForm">
  <form action="/action_page.php" class="form-container" >
-------------------------------------------------
    <h3>YOUR ORDERS</h3>
-------------------------------------------------
    <P>Coffee: {{coffee}}  </P><br>
    <P>Total Price: R {{prices}} </P><br>
   
    <p>*****  Customise your coffee  *****</p>
   {{added}}
    <ion-grid id="tempGrid">
      <ion-row>
        <ion-col (click)="addedItem('Milk R 4.00')+yourPrices(4)">
            <img src="assets/MILK.jpg">
            MILK    
        </ion-col>
        <ion-col (click)="addedItem('Foam R 7.00')+yourPrices(7)">
            <img src="assets/FOAM.jpg">
            FOAM
          </ion-col>
          <ion-col (click)="addedItem('Chocolate R 10.00')+yourPrices(10)">
              <img src="assets/CHOC.jpg">
              CHOC
            </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button (click)="closeForm()">Edit</ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-col>
        <ion-col>
            <ion-col>
                <ion-button (click)="print()+closeForm()">Done</ion-button>
            </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </form>
</div>
   
      
  </div>
</ion-content>
